* {
    box-sizing: border-box;
  }

h1 {
    color: rgb(12, 0, 0);
    font-size: 50X;
    text-align: center;
}

body {
    margin: 100px auto;
    height: 60vh;
    width: 50vh;
    font-family: 'Sono', sans-serif;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 5px;
  }

  div {
    margin: 0px;
    text-align: justify;
  }

 p {
    padding-left: 2em;
    font-size: 16px;
    text-align: center;
  }

.mainBoard-grid {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 233, 233);
    width: 100%;
    height: 100%;
    border: 4px solid black;
}

.winlose-message{
    margin: .5em;
    text-align: center;
}

.random-code {
    display: flex;
    justify-content: space-evenly;
    padding: 0 4em;
}

.code {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #030202;
    border-radius: 50%;
}

.colors {
    display: flex;
    flex-direction: row;
    margin-left: 32px;
}

.colorBtn {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin: .5em 0;
    cursor: pointer;
}

.playing-board-container > div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: .5em 1em;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 .1em;
}

.keypeg-container > div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.small {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    margin: .97em .2em;
    display: flex;
}


.reset {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25%;
    color: rgb(12, 11, 12);
    background-color: rgb(215, 217, 206);
    font-family: 'Sono', sans-serif;
    font-size: 20px;
    align-items: center;
    margin: 1em auto;
    cursor: pointer;
}

.play-area {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: flex;
    grid-template-columns: 1fr 1fr;
}

#howto {
    color: red;
}

#green {
    color: green;
}

#white {
    color: white;
    background-color: black;
}